<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Uploads/mbLogo.jpg" type="image/x-icon">
    <link rel="icon" href="~/Uploads/mbLogo.jpg" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link href="/Content/bootstrap.min.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", required: false)
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="~/Content/themes/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/bootstrap-select.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/order">Moshebee.com</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home/order">Order</a></li>
                    <li><a href="/home/OrderHistory">Order History </a></li>
                    @*<li><a href="/home/OrderList">Order List </a></li>*@
                    <li><a href="/home/Statements">Statements </a></li>
                    <li><a href="/home/inventory">Inventory</a></li>
                    <li><a href="/home/delivery">Order List</a></li>
                    <li><a href="/home/customers">Customers</a></li>
                    <li><a href="/home/admin">Admin</a></li>
                </ul>
                @if (HttpContext.Current.User.Identity.Name != "")
                {
                    <ul class="nav navbar-nav">
                        <li><a href="/home/Signout">Sign Out</a></li>
                    </ul>
                }
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    @RenderBody()
    <div  class="cssload-preloader" hidden>
        <span>L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>

    </div>
    <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
    <script src='https://code.jquery.com/ui/1.11.4/jquery-ui.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-switch.min.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/Vue.js"></script>
    <script src="~/Scripts/myScripts.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
