@model IEnumerable<CakesPos.Data.Customer>


@section Styles{
    <link href="~/Content/themes/orderStyles.css" rel="stylesheet" />
}


<div class="container">
    <div id="customersDiv">
        <div id="customersSearchDiv">
            <input class="input input-lg input-group" id="customerSearchInput" placeholder="Customer Name" />
        </div>
        <div>
            <table class="table table-responsive table-striped table-hover" id="customersTable">
                <tr>
                    <th>Customer</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Cell</th>
                    <th>Email</th>
                    <th>Account</th>
                </tr>
                @foreach (CakesPos.Data.Customer c in Model)
                {
                    decimal account = 0;
                    if (c.Account != null)
                    {
                        account = (decimal)c.Account;
                    }
                    <tr>
                        <td>@c.LastName @c.FirstName</td>
                        <td>@c.Address @c.City @c.State @c.Zip</td>
                        <td>@c.Phone</td>
                        <td>@c.Cell</td>
                        <td>@c.Email</td>
                        <td>@account.ToString("C")</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
