@model IEnumerable<CakesPos.Data.OrderDetailsViewModel>




@section Styles{
    <link href="~/Content/themes/orderStyles.css" rel="stylesheet" />
}

<div class="container" id="deliveryDiv">
    <h2 id="deliveryHeader" style="text-align:center;color:orange">Delivery's</h2>
    <label>
        Date Range
        <select class="form-control" id="filterDeliveryDate">
            <option value="0">Today</option>
            <option value="1">Tommorow</option>
            <option value="7">Next 7 Days</option>
            <option value="30">Next 30 Days</option>
            <option value="-1">Yesterday</option>
            <option value="-7">Last 7 Days</option>
            <option value="-30">Last 30 Days</option>
            <option value="8">All</option>
        </select>
    </label>
    <label>
        Order Type
        <select class="form-control" id="deliveryOpt">
            <option value="Delivery">Delivery</option>
            <option value="Pickup">Pickup</option>
        </select>
        </label>
        <label>
            Filter City
            <select class="form-control" id="filterByCity">
                <option value="All">All</option>
                <option value="Brooklyn">Brooklyn</option>
                <option value="Lakewood">Lakewood</option>
            </select>
        </label>
        <button class="btn btn-success" id="print">Print</button>
        <div id="deliveryAlertDiv">
            @if (Model.Count() == 0)
            {
                <h3 id="deliveryAlert">No deliveries for this time period...</h3>
            }
        </div>
        @*<h1>Wednesday May 11 2016</h1>*@
        <br />
        <div id="deliveriesDiv">
            @foreach (CakesPos.Data.OrderDetailsViewModel o in Model)
            {
                var total = o.total;
                var payments = o.payments;
                foreach (CakesPos.Data.Payment payment in payments)
                {
                    total -= (decimal)payment.Payment1;
                }
                <div class="deliveryInfoDiv">
                    <div class="panel panel-info deliveryInnerDiv">
                        <div class="panel-heading">
                            @o.order.RequiredDate.Value.ToShortDateString() @o.customer.FirstName @o.customer.LastName&nbsp;&nbsp;&nbsp;&nbsp;@o.customer.Phone1&nbsp;&nbsp;&nbsp;&nbsp;@o.customer.Phone2&nbsp;&nbsp;&nbsp;&nbsp;@o.customer.Cell1&nbsp;&nbsp;&nbsp;&nbsp;@o.customer.Cell2<span style="float:right">@total.ToString("C")</span>
                        </div>
                        <div class="panel-body body">
                            <div class="deliveryLeftDiv">
                                <h4>@o.order.DeliveryFirstName @o.order.DeliveryLastName<br />@o.order.DeliveryAddress<br />@o.order.DeliveryCity @o.order.DeliveryState @o.order.DeliveryZip<br /><br />@o.order.Phone1 @o.order.Phone2<br />@o.order.Cell1 @o.order.Cell2</h4>
                            </div>
                            <div class="deliveryMiddleDiv">
                                @if (o.orderedProducts.Count() == 0)
                                {
                                    <h5>No products fo this order...</h5>
                                }
                                else
                                {
                                    foreach (CakesPos.Data.OrderDetailsProductModel od in o.orderedProducts)
                                    {

                                        <h5>@od.quantity - @od.productName</h5>
                                    }
                                }

                            </div>
                            <div class="deliveryRightDiv">
                                <div class="form-group">
                                    <label for="greetings">Greetings:</label>
                                    <p id="greetings">@o.order.Greetings</p>
                                </div>
                                <div class="form-group">
                                    <label for="note">Note:</label>
                                    <p id="note">@o.order.Notes</p>
                                </div>
                                <div class="form-group">
                                    <label for="deliverynote">Delivery Note:</label>
                                    <p id="deliveryNote">@o.order.DeliveryNote</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
</div>
