@model CakesPos.OrdersViewModel


@section Styles{
    <link href="~/Content/themes/orderStyles.css" rel="stylesheet" />
}

<div id="parent">
    <div id="leftdiv">
        <div id="ordersDiv">
            <div id="customerInfoDiv">
                <div id="customerInfoDivInner">
                    <button class="btn btn-lg btn-success" id="selectBtn" data-toggle="modal" data-target="#searchCustomerModal">Select customer</button>
                    <button class="btn btn-lg btn-primary" id="addBtn" data-toggle="modal" data-target="#newCustomerModal">New customer</button>
                    <input type="hidden" id="customerId" name="customerId" />
                    <h3 id="customerHeader"></h3>
                    <h4 id="customerAddress"></h4>
                    <h4 id="customerPhone"></h4>
                    <h4 id="customerCell"></h4>
                    <h5 id="customerEmail"></h5>
                    <input type="hidden" id="catererDiscount" />
                    <h4 id="catererIndicator"></h4>
                </div>
            </div>
            <br />
            <br />
            <br />
            <table class="table table-bordered table-hover table-striped" id="orderTable">
                <tr>
                    <th>X</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </table>
        </div>
        <div id="totalDiv">
            <div id="totalDivInner">
                <h3>Discount  <input class="input-sm discount" id="discountInput" /> <button id="refresh" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button></h3>
                <h3 id="totalItems">Total items: 0</h3>
                <h1 data-total="0" id="total">Total: $0.00</h1>
                <button class="btn btn-block btn-lg btn-success" id="placeOrderBtn">Place Order</button>
            </div>
        </div>
    </div>
    <div id="rightdiv">
        <div id="rightdivInner">
            @foreach (CakesPos.Data.Category category in Model.categories)
            {
                <btn class="btn btn-lg btn-success categorybtn" data-category=@category.Id>@category.CategoryName</btn>
            }
            @*<btn class="btn btn-lg btn-info customizeBtn">Customize Product</btn>*@
            @*<button class="btn btn-lg btn-default" id="addCharge">Add Charge</button>*@
        </div>
        <div id="cakesDiv">
            <div id="productsInnerDiv">
                @foreach (CakesPos.Data.InventoryViewModel product in Model.productAvailability)
                {
                    int productAvailability = product.product.InStock - product.requestedAmount;
                    string productName = product.product.ProductName.ToString();
                    <button class="btn productbtn" data-id=@product.product.Id data-catererdiscount="@product.product.CatererDiscount" data-content="@productName" data-categoryid=@product.product.CategoryId data-price=@product.product.Price data-instock=@product.product.InStock>@productAvailability<br /><img src="~/Uploads/@product.product.Image.ToString()" /><br />@product.product.ProductName @product.product.Price.ToString("C")</button>
                }
            </div>
        </div>
    </div>
</div>

<div id="searchCustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog xl-modal">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Customer</h4>
            </div>
            <div class="modal-body">
                <div class="container form-group">
                    <label>Search  <input class="input input-lg input-group-lg" type="text" id="searchInput" placeholder="Search by phone #" autofocus="autofocus" /></label>
                    <button class="btn btn-lg btn-primary" style="margin-left:10px" id="newCustomerBtn" data-toggle="modal" data-target="#newCustomerModal">New customer</button>

                </div>
                <br />
                <div id="tableDiv">
                    <table class="table table-bordered table-striped table-hover" id="searchTable">
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Cell</th>
                            <th>Select</th>
                        </tr>
                    </table>
                    <div id="message"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="checkoutModal" class="modal fade" role="dialog">
    <div class="modal-dialog xl-modal">

        <!-- Modal content-->
        @*<form action="/Home/AddOrder" method="POST">*@
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Checkout</h4>
            </div>
            <div class="modal-body" id="orderModal">
                <input type="hidden" id="customerIdCheckout" name="customerId" />
                <div class="well">
                    <div class="col-12 col-lg-offset-5 form-group">
                        <label>
                            Pickup
                            <div class="form-group">
                                <label class="switch">
                                    <input type="radio" id="pickup" checked name="deliveryOpt" value="Pickup" />
                                    <div class="slider round"></div>
                                </label>
                            </div>
                        </label>


                        <label>
                            Delivery
                            <div class="form-group">
                                <label class="switch">
                                    <input type="radio" id="delivery" name="deliveryOpt" value="Delivery" />
                                    <div class="slider round"></div>
                                </label>
                            </div>
                        </label>
                    </div>
                    @*<label>Delivery options</label>
                        <div>
                            <label>Pickup <input type="radio" id="pickup" name="deliveryOpt" value="Pickup" /></label>
                        </div>
                        <div>
                            <label>Delivery <input type="radio" id="delivery" name="deliveryOpt" value="Delivery" /></label>
                        </div>*@



                    <div class="form-group" id="deliveryInfoDiv" style="display: none;">
                        <div class="col-12 col-lg-offset-5 form-group">
                            <button class="btn btn-lg btn-default" id="selectRecipiant">Select Recipiant</button>
                        </div>
                        <div class="col-12 col-lg-offset-5 form-group">
                            <label>
                                Customer address
                                <div class="form-group">
                                    <label class="switch">
                                        <input type="checkbox" name="addressOpt" id="customerAddressCheckbox" />
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                            </label>
                        </div>

                        @*<label>
                                Hall Address
                                <div class="form-group">
                                    <label class="switch">
                                        <input type="checkbox" name="addressOpt" id="customerAddressCheckbox" />
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                            </label>

                            <label>
                                Halls
                                <select class="form-control input" disabled name="categoryId" id="Categories">
                                    @foreach (CakesPos.Data.Category c in Model)*@
                        @*{*@
                        @*<option value="">Ateres Chaya</option>*@
                        @*}*@
                        @*</select>*@
                        @*</label>*@

                        @*<div class="checkbox">
                                <label>
                                    <input type="checkbox" id="customerAddressCheckbox"> Customer address
                                </label>
                            </div>*@
                        <div class="col-12 col-lg-offset-3 form-group">
                            <label>
                                First Name
                                <input type="text" class="input input-lg form-control" name="firstName" id="deliveryFirstName" placeholder="First Name" />
                            </label>
                            @*</div>
                                <div class="col-4 form-group">*@
                            <label>
                                Last Name
                                <input type="text" class="input input-lg form-control" name="lastName" id="deliveryLastName" placeholder="Last Name" />
                            </label>
                        </div>
                        <div class="col-12 col-lg-offset-3 form-group">
                            <label>
                                Address
                                <input type="text" class="input input-lg form-control" name="address" id="deliveryAddress" placeholder="Address" />
                            </label>
                            @*</div>*@
                            @*<div class="col-12 form-group">*@
                            <label>
                                City
                                <input type="text" class="input input-lg form-control" list="citynames" name="city" id="deliveryCity" placeholder="City" />
                                <datalist id="citynames">
                                    <option value="Brooklyn">
                                    <option value="Lakewood">
                                </datalist>
                            </label>
                        </div>
                        <div class="col-12 col-lg-offset-3 form-group">
                            <label>
                                State
                                <input type="text" class="input input-lg form-control" list="statenames" name="state" id="deliveryState" placeholder="State" />
                                <datalist id="statenames">
                                    <option value="New York">
                                    <option value="New Jersey">
                                </datalist>
                            </label>
                            @*</div>
                                <div class="col-2 form-group">*@
                            <label>
                                Zip
                                <input type="text" class="input input-lg form-control" list="zipnames" name="zip" id="deliveryZip" placeholder="Zip" />
                                <datalist id="zipnames">
                                    <option value="11219">
                                    <option value="11218">
                                    <option value="08701">
                                </datalist>
                            </label>
                        </div>
                        <div class="col-12 col-lg-offset-3 form-group">
                            <label for="deliveryPhone">
                                Phone 1
                                <input type="text" class="input input-lg form-control" name="phone1" id="deliveryPhone1" placeholder="Phone 1" />
                            </label>
                            @*</div>
                                <div class="col-xs-4 form-group">*@
                            <label for="deliveryPhone">
                                Phone 2
                                <input type="text" class="input input-lg form-control" name="phone2" id="deliveryPhone2" placeholder="Phone 2" />
                            </label>
                        </div>
                        <div class="col-12 col-lg-offset-3 form-group">
                            <label for="deliveryPhone">
                                Cell 1
                                <input type="text" class="input input-lg form-control" name="cell1" id="deliveryCell1" placeholder="Cell 1" />
                            </label>
                            @*</div>
                                <div class="col-xs-4 form-group">*@
                            <label for="deliveryPhone">
                                Cell 2
                                <input type="text" class="input input-lg form-control" name="cell2" id="deliveryCell2" placeholder="Cell 2" />
                            </label>
                        </div>
                        @*<div class="col-12 col-lg-offset-3 form-group">
                                <label>
                                    Delivery Charge
                                    <input type="number" class="input input-lg form-control" id="deliveryCharge" name="deliveryCharge" placeholder="Delivery Charge" />
                                </label>
                            </div>*@
                        <div class="col-12 col-lg-offset-5 form-group">
                            <label>
                                Delivery Charge
                                <input type="number" class="input input-lg form-control" id="deliveryCharge" name="deliveryCharge" placeholder="Delivery Charge" />
                            </label>
                        </div>
                        <div class="col-12 col-lg-offset-5 form-group">
                            <textarea type="text" class="input input-lg" name="deliveryNote" id="orderDeliveryNote" rows="5" placeholder="Delivery Note"></textarea>
                            @*<label>
                                    Delivery Charge
                                    <input type="number" class="input input-lg form-control" id="deliveryCharge" name="deliveryCharge" placeholder="Delivery Charge" />
                                </label>*@
                        </div>
                    </div>
                </div>
                <div class="well">
                    <div class="col-12 col-lg-offset-4 form-group">
                        <label>Payment options</label>
                        <div>
                            <div class="form-group">
                                <label>
                                    At Pickup
                                    <div class="form-group">
                                        <label class="switch">
                                            <input type="radio" id="atPickup" name="paymentMethod" value="At Pickup" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                </label>
                                <label>
                                    COD
                                    <div class="form-group">
                                        <label class="switch">
                                            <input type="radio" id="cod" checked name="paymentMethod" value="COD" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                </label>

                                <label>
                                    Cash
                                    <div class="form-group">
                                        <label class="switch">
                                            <input type="radio" id="cash" name="paymentMethod" value="Cash" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                </label>

                                <label>
                                    Check
                                    <div class="form-group">
                                        <label class="switch">
                                            <input type="radio" id="check" name="paymentMethod" value="Check" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                </label>

                                <label>
                                    Credit Card
                                    <div class="form-group">
                                        <label class="switch">
                                            <input type="radio" id="creditCard" name="paymentMethod" value="Credit Card" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                </label>

                                <label>
                                    On Account
                                    <div class="form-group">
                                        <label class="switch">
                                            <input type="radio" id="onAccount" checked name="paymentMethod" value="On Account" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-offset-4 form-group">
                    <label>
                        Required Date
                        <input type="text" name="requiredDate" class="input input-lg requiredDate" id="datepicker">
                    </label>
                </div>
                <div class="col-12 col-lg-offset-4 form-group">
                    <label>
                        Greetings
                        <textarea type="text" class="input input-lg form-control" name="greetings" id="greetings" rows="8" placeholder="Greetings"></textarea>
                    </label>
                    @*</div>
                        <div class="col-12 col-lg-offset-4 form-group">*@
                    <label>
                        Notes
                        <textarea type="text" class="input input-lg form-control" name="notes" id="notes" rows="8" placeholder="Notes"></textarea>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="orderSubmitBtn" type="submit">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="searchRecipiantModal" class="modal fade" role="dialog">
    <div class="modal-dialog xl-modal">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Customer</h4>
            </div>
            <div class="modal-body">
                <div class="container form-group">
                    <label>Search  <input class="input input-lg input-group-lg" type="text" id="searchInput2" placeholder="Search by phone #" autofocus="autofocus" /></label>
                </div>
                <br />
                <div id="tableDiv2">
                    <table class="table table-bordered table-striped table-hover" id="searchTable2">
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Cell</th>
                            <th>Select</th>
                        </tr>
                    </table>
                    <div id="message2"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



<div id="newCustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog xl-modal">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Customer</h4>
            </div>
            <div class="modal-body">
                <div class="col-12 col-lg-offset-5 form-group">
                    <label>
                        Caterer
                        <div class="form-group">
                            <label class="switch">
                                <input type="checkbox" name="caterer" id="caterer" value="true">
                                <div class="slider round"></div>
                            </label>
                            <input type="hidden" name="caterer" value="false" />
                        </div>
                    </label>
                </div>
                <div class="col-6 col-lg-offset-3 form-group-lg">
                    <label>
                        First name
                        <input type="text" class="input input-lg form-control" name="firstName" id="firstName" placeholder="First Name" autofocus="autofocus">
                    </label>
                    @*</div>
                        <div class="form-group">*@
                    <label>
                        Last Name
                        <input type="text" class="input input-lg form-control" name="lastName" id="lastName" placeholder="Last Name">
                    </label>
                </div>
                <div class="col-12 col-lg-offset-3 form-group">
                    <label>
                        Address
                        <input type="text" class="input input-lg form-control" name="address" id="address" placeholder="Address">
                    </label>
                    @*</div>
                        <div class="form-group">*@
                    <label>
                        City
                        <input type="text" class="input input-lg form-control" name="city" list="citynames" id="city" placeholder="City">
                        <datalist id="citynames">
                            <option value="Brooklyn">
                            <option value="Lakewood">
                        </datalist>
                    </label>
                </div>
                <div class="col-12 col-lg-offset-3 form-group">
                    <label>
                        State
                        <input type="text" class="input input-lg form-control" list="statenames" name="state" id="state" placeholder="State">
                        <datalist id="statenames">
                            <option value="New York">
                            <option value="New Jersey">
                        </datalist>
                    </label>
                    @*</div>
                        <div class="form-group">*@
                    <label>
                        Zip
                        <input type="text" class="input input-lg form-control" name="zip" list="zipnames" id="zip" placeholder="Zip">
                        <datalist id="zipnames">
                            <option value="11219">
                            <option value="11218">
                            <option value="08701">
                        </datalist>
                    </label>
                </div>
                <div class="col-12 col-lg-offset-3 form-group">
                    <label>
                        Phone 1
                        <input type="text" class="input input-lg form-control" name="phone1" id="phone1" placeholder="Phone 1">
                    </label>
                    @*</div>
                        <div class="form-group">*@
                    <label>
                        Phone 2
                        <input type="text" class="input input-lg form-control" name="phone2" id="phone2" placeholder="Phone 2">
                    </label>
                </div>
                <div class="col-12 col-lg-offset-3 form-group">
                    <label>
                        Cell 1
                        <input type="text" class="input input-lg form-control" name="cell1" id="cell1" placeholder="Cell 1">
                    </label>
                    @*</div>
                        <div class="form-group">*@
                    <label>
                        Cell 2
                        <input type="text" class="input input-lg form-control" name="cell2" id="cell2" placeholder="Cell 2">
                    </label>
                </div>
                <div class="col-12 col-lg-offset-4 form-group">
                    <label>Email</label>
                    <input type="email" class="input input-lg" name="email" id="email" placeholder="Email">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="newCustomerSubmit">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="alertInvalidCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Invalid Entry</h4>
            </div>

            <div class="modal-body">
                <h1>Please select a customer before placing the order!</h1>
            </div>

            <div class="modal-footer">
                <a class="btn btn-danger btn-ok" data-dismiss="modal">Ok</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alertInvalidOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Invalid Entry</h4>
            </div>

            <div class="modal-body">
                <h1>Please select at least one item!</h1>
            </div>

            <div class="modal-footer">
                <a class="btn btn-danger btn-ok" data-dismiss="modal">Ok</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alertNewCustomerAdded" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">New Customer</h4>
            </div>

            <div class="modal-body">
                <h1>New customer was added to the system!</h1>
            </div>

            <div class="modal-footer">
                <a class="btn btn-danger btn-ok" id="alertNewCustomerOk" data-dismiss="modal">Ok</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alertInvalidSubmit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">New Customer</h4>
            </div>

            <div class="modal-body">
                <h1><span style="color:red">Please provide a contact number!</span></h1>
            </div>

            <div class="modal-footer">
                <a class="btn btn-danger btn-ok" data-dismiss="modal">Ok</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addChargeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Charge</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="input input-lg form-control" name="description" id="description" value="Delivery" placeholder="Description">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" class="input input-lg form-control" min="0.00" step="0.01" name="price" id="price" placeholder="Price">
                </div>
            </div>

            <div class="modal-footer">
                <a class="btn btn-danger btn-ok" id="applyChargesBtn" data-dismiss="modal">Apply Charge</a>
            </div>
        </div>
    </div>
</div>


<div id="customizeProductModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Custom Product</h4>
            </div>
            <div class="modal-body">
                <form id="formCustom" enctype="multipart/form-data">
                    <div class="well">
                        <h1>Custom Product</h1>
                        <div class="form-group">
                            <label>Product Name</label>
                            <input type="text" class="form-control" name="productName" id="productName" placeholder="Product Name">
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" class="form-control" name="price" id="price" placeholder="Price">
                        </div>
                        <div class="form-group">
                            <label>Caterer Discount</label>
                            <input type="text" class="form-control" name="catererDiscount" id="catererDiscount" placeholder="Caterer Discount">
                        </div>
                        <div class="form-group">
                            <label>Restock Amount</label>
                            <input type="number" class="form-control" name="restockAmount" id="restockAmount" placeholder="Restock Amount">
                        </div>
                        <div class="form-group">
                            <label>In Stock</label>
                            <input type="number" class="form-control" name="inStock" id="inStock" placeholder="In Stock">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="customProductSubmit">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="alertInvalidSubmitModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close o" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Invalid Submission</h4>
            </div>

            <div class="modal-body">
                <h1 id="invalidSubmitAlert"></h1>
            </div>

            <div class="modal-footer">
                <a class="btn btn-danger btn-ok" data-dismiss="modal">Ok</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alertOrderAdded" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close o" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Order Status</h4>
            </div>

            <div class="modal-body">
                <h1>Order submitted!</h1>
            </div>

            <div class="modal-footer">
                <a class="btn btn-danger btn-ok" data-dismiss="modal">Ok</a>
            </div>
        </div>
    </div>
</div>


<div class="cssload-preloader" style="visibility:hidden">
    <span>P</span>
    <span>r</span>
    <span>o</span>
    <span>c</span>
    <span>e</span>
    <span>s</span>
    <span>s</span>
    <span>i</span>
    <span>n</span>
    <span>g</span>
</div>


